<div class="wrapper">
  <app-sidebar></app-sidebar>
  <div class="main">
    <app-navbar />
    <main class="content">
      <div class="container-fluid p-0">
        <div class="mb-3">
          <h1 class="h3 d-inline align-middle">Gestion des commandes</h1>
        </div>
        <div class="row mb-5">
          <div>
            <div class="card">
              <div class="card-header">
                <h5 class="card-title mb-0">Ajouter une commande</h5>
              </div>
              <div
                class="card-body"
                *ngIf="combined$ | async as data; else loading1"
              >
                <form #myform="ngForm" (ngSubmit)="onSubmit(myform)">
                  <div class="row mb-3">
                    <div class="col-4">
                      <select
                        ngModel
                        class="form-select"
                        name="id1"
                        id="suppliers"
                      >
                        <option value="">Fournisseur</option>
                        <option
                          *ngFor="let supplier of data.suppliers"
                          value="{{ supplier.id }}"
                        >
                          {{ supplier.name }}
                        </option>
                      </select>
                    </div>
                    <div class="col-4">
                      <select
                        class="form-select"
                        name="id2"
                        id="products"
                        ngModel
                      >
                        <option value="">Produit</option>
                        <option
                          *ngFor="let product of data.products"
                          value="{{ product.id }}"
                        >
                          {{ product.name }}
                        </option>
                      </select>
                    </div>
                    <div class="col-4">
                      <input
                        ngModel
                        type="date"
                        class="form-control"
                        name="date"
                      />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-6">
                      <input
                        ngModel
                        type="text"
                        class="form-control"
                        name="nu"
                        placeholder="Nombre d'unités"
                      />
                    </div>
                    <div class="col-6">
                      <input
                        ngModel
                        type="text"
                        class="form-control"
                        name="up"
                        placeholder="Prix unitaire"
                      />
                    </div>
                  </div>
                  <div class="text-center">
                    <button type="submit" class="btn btn-lg btn-primary">
                      Ajouter
                    </button>
                  </div>
                </form>
              </div>
              <ng-template #loading1
                >Chargement des fournisseurs...</ng-template
              >
            </div>
          </div>
        </div>
        <div class="row mb-5">
          <div>
            <div class="card">
              <div class="card-header">
                <h5 class="card-title mb-0">Liste des commandes</h5>
              </div>
              <div class="card-body">
                <table
                  *ngIf="orders$ | async as orders; else loading"
                  style="width: 100%"
                >
                  <tr>
                    <th>ID</th>
                    <th>Nom du fournisseur</th>
                    <th>Nom du produit</th>
                    <th>Date</th>
                    <th>Unités vendues</th>
                    <th>Prix unitaire</th>
                    <th>Montant</th>
                  </tr>
                  <tr *ngFor="let order of orders" class="mb-5">
                    <td>{{ order.id }}</td>
                    <td>{{ order.actorName }}</td>
                    <td>{{ order.productName }}</td>
                    <td>{{ order.issueDate }}</td>
                    <td>{{ order.numberOfUnits }}</td>
                    <td>{{ order.unitPrice }}</td>
                    <td>{{ order.totalAmount }}</td>
                    <td>
                      <svg
                        (click)="deleteOrder(order.id)"
                        style="color: red"
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-trash"
                        viewBox="0 0 16 16"
                      >
                        <path
                          d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"
                        />
                        <path
                          d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"
                        />
                      </svg>
                    </td>
                  </tr>
                </table>
                <ng-template #loading>Chargement des factures...</ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
